.list {
    list-style-type: none;
    display: flex;
    background-color: #6b5592;
    padding-left: 0px;
    box-shadow: 5px 5px 11px -4px #34344a;
    margin: 10px;
}

.list__item {
    margin: 0 auto;
}

.list__link {

    margin: auto;
    text-decoration: none;
    font-size: 20px;
    color: #eae2e2;
}

.list__link:visited {
    color: rgb(200, 177, 222);
}

.list__link:focus {
    outline: 2px solid yellow;
}

.list__link:hover {
    color: rgb(0, 53, 109);
    outline: none;
}

.list__link:active {
    color: aqua
}