.section__content {
    display: flex;
    margin: 10px;
}

.section__header {
    color: rgb(28, 24, 24);
    background-color: rgb(207, 211, 211);
    text-align: left;
    padding: 7px;
    font-weight: normal;
    box-shadow: 5px 5px 11px -4px #34344a;
    margin: 10px;
}

.section__text {
    color: rgb(28, 24, 24);
    padding: 10px;

}

.section__specialText {
    color: rgb(163, 37, 113);
}